<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous" {{action "prev"}}>
        <span aria-hidden="true">&laquo; Prev</span>
      </a>
    </li>
    <li>
      <a href="#" aria-label="Next" {{action "next"}}>
        <span aria-hidden="true">Next &raquo;</span>
      </a>
    </li>
  </ul>
</nav>